:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #1F2D3D, #3F4E5A);
  color: #DADADA;
  font-family: 'Roboto', sans-serif;
}

mat-toolbar {
  font-weight: bold;
  font-size: 1.1rem;
  background-color: #1F2D3D;
  color: #DADADA;
}

mat-toolbar:last-of-type {
  background-color: #5D5D5D;
  color: #BFBFBF;
}